/* 主题名称: reborn
 * 描述: 一个简单的Typecho主题
 * 版本: 1.0
 * 作者: Shawn
 * 许可证: MIT
 */

html, body, * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}
ul, ol, li {
  list-style: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.clear-both {
  clear: both;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera and Safari */
}

#header {
  background-color: #333333;
  color: #FFFFFF;
  min-height: 70px;
  #nav {
    margin: 0;
    padding: 0;
    background-color: #444444;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      li {
        display: inline;
        padding: 0 20px;
        a {
          color: #FFFFFF;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }
    .container {
      text-align: left;
      margin: 0 auto;
    }
  }
  #site-info {
    text-align: right;
    padding-top: 50px;
    #site-logo {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      right: 10px;
      bottom: -20px;
    }
    #site-title {
      margin-right: 100px;
    }
    #site-description {
      width: 100%;
      color: #808080;
      margin-top: 25px;
      padding-right: 10px;
    }
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  margin-top: 60px;
  .main-content {
    width: 66.6667%;
    float: left;
    padding: 20px;
    .post-type {
      margin: 10px auto;
      border-bottom: 1px solid rgba(153, 153, 153, 0.24);
      .post-author-avatar {
        width: 60px;
        padding: 10px 8px 12px 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 4px;
        }
      }
      .post-content {
        padding: 10px;
        .post-author {
          color: #576b95;
          font-weight: bold;
        }
        img {
          max-width: 100%;
        }
        .post-meta-1.post-location {
          color: #576b95;
          margin-top: 5px;
        }
        .post-meta-2 {
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          .post-publish-time {
            color: #9ca3af;
            vertical-align: middle;
          }
          .post-more {
            display: inline-block;
            width: 30px;
            height: 20px;
            line-height: 20px;
            background-color: #f7f7f7;
            color: #576b95;
            cursor: pointer;
            text-align: center;
            border-radius: 3px;
            vertical-align: middle;
          }
          .post-action-container {
            right: 40px;
            bottom: -6px;
            width: 160px;
            height: 36px;
            overflow: hidden;
          }
          .post-action {
            right: 0;
            bottom: 0;
            width: 160px;
            height: 36px;
            line-height: 36px;
            background-color: #606060;
            border-radius: 4px;
            color: #FFFFFF;
            transform: translateX(100%);
            transition: transform 0.3s ease;
            a {
              display: block;
              text-align: center;
              cursor: pointer;
              .rb-heart:before,
              .rb-heart-o:before,
              .rb-comments:before {
                font-size: 14px;
              }
              .rb-heart:before {
                color: red;
              }
            }
            .post-like:before {
              position: absolute;
              content: '';
              top: 8px;
              right: 0;
              width: 1px;
              height: 20px;
              background-color: #454545;
            }
          }
          .post-action.show {
            transform: translateX(0);
          }
        }
        .post-meta-3 {
          background-color: #F6F6F6;
          border-radius: 2px;
          margin-top: 5px;
          .post-like-area + .post-comment-area {
            border-top: 1px solid rgba(153, 153, 153, 0.24);
          }
          .post-like-area {
            padding: 5px 10px;
            color: #576b95;
            font-weight: 600;
            .rb-heart-o:before {
              font-size: 14px;
            }
          }
          .post-comment-area {
            padding: 5px 10px;
            .comment-author {
              color: #576b95;
              font-weight: 600;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .sidebar {
    width: 33.3333%;
    float: left;
  }
}

#footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 1140px) {
  .content {
    .main-content {
      width: 100%;
    }
    .sidebar {
      display: none;
    }
  }
}