/* 主题名称: reborn
 * 描述: 一个简单的Typecho主题
 * 版本: 1.0
 * 作者: Shawn
 * 许可证: MIT
 */

$global_font_size: 16px;
$default_font_family: Arial, sans-serif;
$global_link_color: #576B95;
$global_grey_color: rgba(0, 0, 0, .3);

html, body, * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $default_font_family;
  font-size: $global_font_size;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background-color: #F6F6F6;
}

div, a, img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

ul, ol, li {
  list-style: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.clear-both {
  clear: both;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none!important;
}

.color-link {
  color: $global_link_color;
  font-weight: 600;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera and Safari */
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator:before {
  content: '：';
}

.m-l-10 {
  margin-left: 10px;
}

#header {
  background-color: #333333;
  color: #FFFFFF;
  min-height: 70px;
  #nav {
    margin: 0;
    padding: 0;
    background-color: #444444;
    height: 40px;
    line-height: 40px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      li {
        display: inline;
        padding: 0 20px;
        a {
          color: #FFFFFF;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }
    .container {
      text-align: left;
      margin: 0 auto;
    }
  }
  #site-info {
    text-align: right;
    padding-top: 50px;
    #site-logo {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      right: 10px;
      bottom: -20px;
    }
    #site-title {
      margin-right: 100px;
    }
    #site-description {
      width: 100%;
      color: #808080;
      margin-top: 25px;
      padding-right: 10px;
    }
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  padding-top: 60px;
  .main-content {
    background-color: #FFFFFF;
    width: 66%;
    float: left;
    padding: 20px;
    .post-type {
      margin: 10px auto;
      .post-author-avatar {
        width: 60px;
        padding: 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 4px;
        }
      }
      .post-content {
        padding: 10px;
        line-height: 1.75em;
        overflow: hidden;
        .post-author {
          color: $global_link_color;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .post-item {
          display: flex;
          padding: 5px;
          background-color: #F6F6F6;
          border-radius: 2px;
          text-decoration: none;
          color: black;
          line-height: 50px;
          cursor: pointer;
          .post-thumbnail {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
          .post-title {
            font-weight: normal;
            font-size: $global_font_size;
          }
        }
        .shuoshuo-item {
          display: block;
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
        div, img {
          max-width: 100%;
        }
        input.rb-checkbox {
          -webkit-appearance: none;
          position: relative;
          border-radius: 2px;
          width: 15px;
          height: 15px;
          border: 2px solid #0f4c81;
          vertical-align: -2px;
        }
        input.rb-checkbox:disabled{
          cursor: not-allowed;
        }
        input.rb-checkbox:checked::after {
          content: '';
          width: 3px;
          height: 7px;
          position: absolute;
          top: 2px;
          left: 5px;
          border: 2px solid #fff;
          border-top: 0;
          border-left: 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        input.rb-checkbox:checked {
          border: none;
          background: #0f4c81;
        }
        .comment-visible {
          display: block;
          width: 150px;
          margin: 20px auto;
          text-decoration: none;
          background-color: #05c160;
          color: white !important;
          padding: 5px 15px;
          border-radius: 5px;
          text-align: center;
        }
        .post-meta-1.post-location {
          color: $global_link_color;
          margin-top: 5px;
        }
        pre {
          margin: 10px 0;
          position: relative;
          code.hljs {
            background-color: #F6F6F6;
            padding: 35px 15px 15px;
            border-radius: 4px;
            max-height: none;
            transition: max-height 0.3s ease;
            overflow-y: hidden;
          }
          .code-copy {
            position: absolute;
            top: 5px;
            right: 15px;
            color: #abb2bf;
            font-size: 18px;
            cursor: pointer;
          }
          .code-hide,
          .code-show {
            position: absolute;
            top: 5px;
            right: 45px;
            color: #abb2bf;
            font-size: 18px;
            cursor: pointer;
          }
          .hljs-ln td {
            padding: 0 10px 0 0;
          }
        }
        pre:before {
          content: '';
          position: absolute;
          top: 15px;
          left: 15px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #fc625d;
          box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
          z-index: 1;
        }
        .post-meta-2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 5px;
          .post-publish-time, .post-view {
            color: $global_grey_color;
            vertical-align: middle;
            margin-right: 10px;
          }
          .post-more {
            display: inline-block;
            width: 30px;
            height: 20px;
            line-height: 20px;
            background-color: #f7f7f7;
            color: $global_link_color;
            cursor: pointer;
            text-align: center;
            border-radius: 3px;
            vertical-align: middle;
          }
          .post-action-container {
            right: 40px;
            bottom: -6px;
            width: 160px;
            height: 36px;
            overflow: hidden;
            z-index: 1;
          }
          .post-action {
            right: 0;
            bottom: 0;
            width: 160px;
            height: 36px;
            line-height: 36px;
            background-color: #606060;
            border-radius: 4px;
            color: #FFFFFF;
            transform: translateX(100%);
            transition: transform 0.3s ease;
            a {
              display: block;
              text-align: center;
              cursor: pointer;
              .rb-heart:before,
              .rb-heart-o:before,
              .rb-comments:before {
                font-size: $global_font_size;
              }
              .rb-heart:before {
                color: red;
              }
            }
            .post-like:before {
              position: absolute;
              content: '';
              top: 8px;
              right: 0;
              width: 1px;
              height: 20px;
              background-color: #454545;
            }
          }
          .post-action.show {
            transform: translateX(0);
          }
        }
        .post-meta-3 {
          background-color: #F6F6F6;
          border-radius: 2px;
          margin-top: 5px;
          .post-like-area + .post-comment-area {
            border-top: 1px solid rgba(153, 153, 153, 0.24);
          }
          .post-like-area.hidden + .post-comment-area {
            border-top: none;
          }
          .post-like-area {
            padding: 5px 10px;
            color: $global_link_color;
            font-weight: 600;
            .rb-heart-o:before {
              font-size: $global_font_size;
            }
          }
          .post-comment-area {
            padding: 5px 10px;
            .comment-form {
              display: none;
            }
            .more-comments {
              color: $global_link_color;
            }
            .comment-item {
              .comment-item-header {
                width: 100%;
                .comment-author {
                  color: $global_link_color;
                  font-weight: 600;
                  text-decoration: none;
                }
                .post-comment {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      > .post-title {
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 14px;
        font-weight: 400;
      }
      > .post-meta {
        font-size: 15px;
        margin-bottom: 22px;
        line-height: 20px;
        word-wrap: break-word;
        .post-author {
          color: $global_link_color;
          margin-right: 10px;
        }
        .post-publish-time, .post-location {
          color: $global_grey_color;
          margin-right: 10px;
        }
      }
      #post-content {
        padding: 0;
        img:not([class]) {
          display: block;
          margin: 0 auto;
        }
        code:not(.hljs) {
          line-height: 1.75;
          font-size: 90%;
          color: #d14;
          background: #F6F6F6;
          padding: 3px 5px;
          border-radius: 4px;
        }
        blockquote {
          line-height: 1.75;
          font-size: 14px;
          font-style: normal;
          border-left: none;
          padding: 1em;
          border-radius: 8px;
          color: rgba(0, 0, 0, 0.5);
          background: #F6F6F6;
          margin: 5px 0;
        }
        h2:not([class]) {
          text-align: center;
          line-height: 1.75;
          font-size: 1.2em;
          font-weight: bold;
          display: table;
          margin: 30px auto;
          padding: 0 0.2em;
          background: #0f4c81;
          color: #FFFFFF;
        }
        h3:not([class]) {
          text-align: left;
          line-height: 1.2;
          font-size: 1.1em;
          font-weight: bold;
          margin: 20px 0;
          padding-left: 8px;
          border-left: 3px solid #0f4c81;
          color: #3f3f3f;
        }
        h4:not([class]) {
          text-align: left;
          line-height: 1.75;
          font-size: 1em;
          font-weight: bold;
          margin: 20px 0;
          color: #0f4c81;
        }
        a {
          color: #576B95;
        }
        ul, ol {
          margin: 0 0 0 20px;
        }
        ul li {
          list-style-type: disc;
        }
        ol li {
          list-style-type: decimal;
        }
        li {
          margin: 0 0 0 20px;
          line-height: 32px;
        }
        p {
          margin: 20px 0;
        }
        table:not(.hljs-ln) {
          border-spacing: 0;
          border-collapse: collapse;
          width: 100%;
          thead {
            text-align: left;
            line-height: 1.75;
            background: #F6F6F6;
            font-weight: bold;
            color: #3f3f3f;
            th {
              text-align: left;
              line-height: 1.75;
              border: 1px solid #dfdfdf;

              padding: 0.25em 0.5em;
              color: #3f3f3f;
            }
          }
          tbody {
            td {
              text-align: left;
              line-height: 1.75;
              border: 1px solid #dfdfdf;
              padding: 0.25em 0.5em;
              color: #3f3f3f;
            }
          }
        }
      }
      > .post-footer {
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        .post-view {
          color: $global_grey_color;
          font-size: 15px;
        }
        .post-zan {
          display: inline-block;
          color: $global_link_color;
          cursor: pointer;
        }
      }
    }
    .post-type + .post-type {
      border-top: 1px solid rgba(153, 153, 153, 0.24);
    }
    > #comments {
      border-top: 1px solid rgba(153, 153, 153, 0.24);
      padding-top: 20px;
      .has-comment {
        justify-content: space-between;
        #comment-title {
          color: $global_grey_color;
          font-weight: 600;
        }
      }
      .none-comment {
        text-align: center;
        height: 80px;
        line-height: 80px;
      }
      .write-comment {
        color: $global_link_color;
        cursor: pointer;
        font-weight: 600;
      }
      .comment-form {
        display: none;
      }
      > ul > li > .comment-reply {
        margin-left: 40px;
      }
      .comment-item {
        .comment-item-header {
          width: 100%;
          flex-wrap: wrap;
        };

        .comment-reply {

        }
      }
      .comment-author-avatar {
        width: 40px;
        padding: 12px 0;
        img {
          width: 40px;
          height: 40px;
          border-radius: 4px;
        }
      }
      .comment-body {
        padding: 10px;
        line-height: 1.75em;
        overflow: hidden;
        flex-wrap: wrap;
        .comment-author {
          color: #787878;
          margin-right: 10px;
          text-decoration: none;
        }
        .comment-time {
          font-size: 14px;
          color: $global_grey_color;
        }
        .write-comment {
          color: #787878;
          font-weight: normal;
          flex: 0 0 36px;
        }
        .comment-content.write-comment {
          color: black;
          flex: 0 0 100%;
        }

      }
    }
  }
  .sidebar {
    width: 32%;
    float: right;
    padding: 0;
    .widget {
      background-color: #FFFFFF;
      padding: 20px;
      .widget-title {
        margin-bottom: 10px;
      }
      a {
        color: $global_link_color;
        text-decoration: none;
      }
    }
    .widget + .widget {
      margin-top: 10px;
    }
    .sidebar-adv {
      overflow: hidden;
      .ad {
        display: flex;
        line-height: 40px;
        .ad-avatar {
          width: 40px;
          height: 40px;
        }
      }
      img {
        width: 100%;
      }

    }
    #sidebar-post-list {
      ul {
        list-style-type: disc;
        li {
          list-style-type: disc;
          margin: 0 0 0 20px;
        }
        li + li {
          margin-top: 5px;
        }
      }
    }
    #sidebar-comment-list {
      li {
        margin-top: 5px;
      }
      li + li {
        border-top: 1px solid rgba(153, 153, 153, 0.24);
        padding-top: 5px;
      }
      .comment-item {
        flex-wrap: wrap;
        > div {
          overflow: hidden;
        }
      }
      .comment-author-avatar {
        width: 40px;
        height: 40px;
        margin: 6px 10px 6px 0;
        border-radius: 4px;
      }
      .comment-author {
        color: #787878;
      }
      .comment-content {
        width: 100%;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .comment-form {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px 0;
    border-radius: 2px;
  }
  .comment-form.focus {
    border: 1px solid #04c160;
    .comment-textarea {
      min-height: 100px;
    }
  }
  .comment-meta {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .comment-input {
      background-color: #F6F6F6;
      padding: 5px;
      font-family: $default_font_family;
      font-size: $global_font_size;
      border-radius: 2px;
      outline: none;
      transition: all .3s;
      flex-grow: 1;
      line-height: 30px;
      height: 30px;
      overflow: hidden;
    }
    .comment-input + .comment-input {
      margin-left: 5px;
    }
  }
  .comment-area {
    .comment-textarea {
      display: block;
      background-color: #F6F6F6;
      border-radius: 2px;
      outline: none;
      transition: all .3s;
      width: 100%;
      min-height: 80px;
      resize: none;
      padding: 5px;
      font-family: $default_font_family;
      font-size: $global_font_size;
    }
  }
  .comment-footer {
    background-color: #F6F6F6;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    .comment-emoji {
      cursor: pointer;
      font-size: 24px;
      color: #afafaf;
    }
    .emoji-container {
      display: none;
      left: 0;
      bottom: 32px;
      border: 1px solid rgba(153, 153, 153, 0.24);
      max-height: 300px;
      overflow-y: auto;
    }
    .emoji-list {
      background-color: #FFFFFF;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 10px 0 10px 10px;
      margin: 0;
      overflow-y: scroll;
      max-height: 150px;
      .rb-emoji-item {
        margin: 0 5px 5px 0;
        cursor: pointer;
        -webkit-transition: .3s;
        transition: .3s;
        height: 40px;
        width: auto;
        display: block;
        float: left;
      }
    }
    .emoji-bar {
      overflow: hidden;
      width: 100%;
      height: 30px;
      border-top: 1px solid #ddd;
      background: #F6F6F6;
      border-radius: 0 0 4px 4px;
      color: #444;
      display: flex;
      .emoji-category {
        line-height: 30px;
        font-size: 14px;
        padding: 0 10px;
        cursor: pointer;
      }
      .emoji-category.active {
        background: #fff;
      }
    }
    .comment-btn {
      background-color: #05c160;
      color: #FFFFFF;
      padding: 5px 15px;
      border-radius: 5px;
      font-size: $global_font_size;
      cursor: pointer;
    }
    .comment-cancel {
      margin-right: 5px;
      background-color: #eaeaea;
      color: #afafaf;
      padding: 5px 15px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    .comment-footer-btn {

    }
  }
}

.rb-emoji-item {
  height: 25px;
  vertical-align: middle;
}

#footer {
  text-align: center;
  padding: 50px 10px 10px;
}

@media (max-width: 1140px) {
  .content {
    .main-content {
      width: 100%;
    }
    .sidebar {
      display: none;
    }
  }
}