@charset "UTF-8";
/* 主题名称: reborn
 * 描述: 一个简单的Typecho主题
 * 版本: 1.0
 * 作者: Shawn
 * 许可证: MIT
 */
html, body, * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF; }

ul, ol, li {
  list-style: none; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.clear-both {
  clear: both; }

.flex {
  display: flex; }

.flex-1 {
  flex: 1; }

.underline {
  text-decoration: underline; }

.hidden {
  display: none; }

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Safari */ }

.separator:before {
  content: '：'; }

#header {
  background-color: #333333;
  color: #FFFFFF;
  min-height: 70px; }
  #header #nav {
    margin: 0;
    padding: 0;
    background-color: #444444;
    height: 40px;
    line-height: 40px; }
    #header #nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center; }
      #header #nav ul li {
        display: inline;
        padding: 0 20px; }
        #header #nav ul li a {
          color: #FFFFFF;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px; }
    #header #nav .container {
      text-align: left;
      margin: 0 auto; }
  #header #site-info {
    text-align: right;
    padding-top: 50px; }
    #header #site-info #site-logo {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      right: 10px;
      bottom: -20px; }
    #header #site-info #site-title {
      margin-right: 100px; }
    #header #site-info #site-description {
      width: 100%;
      color: #808080;
      margin-top: 25px;
      padding-right: 10px; }
  #header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.content {
  margin-top: 60px; }
  .content .main-content {
    width: 66.6667%;
    float: left;
    padding: 20px; }
    .content .main-content .post-type {
      margin: 10px auto;
      border-bottom: 1px solid rgba(153, 153, 153, 0.24); }
      .content .main-content .post-type .post-author-avatar {
        width: 60px;
        padding: 10px 8px 12px 10px; }
        .content .main-content .post-type .post-author-avatar img {
          width: 40px;
          height: 40px;
          border-radius: 4px; }
      .content .main-content .post-type .post-content {
        padding: 10px;
        overflow: hidden; }
        .content .main-content .post-type .post-content .post-author {
          color: #576b95;
          font-weight: bold;
          margin-bottom: 5px; }
        .content .main-content .post-type .post-content .post-item {
          display: flex;
          padding: 5px;
          background-color: #F6F6F6;
          border-radius: 2px;
          text-decoration: none;
          color: black;
          line-height: 40px; }
          .content .main-content .post-type .post-content .post-item .post-thumbnail {
            width: 40px;
            height: 40px;
            margin-right: 5px; }
        .content .main-content .post-type .post-content div, .content .main-content .post-type .post-content img {
          max-width: 100%; }
        .content .main-content .post-type .post-content .post-meta-1.post-location {
          color: #576b95;
          margin-top: 5px; }
        .content .main-content .post-type .post-content .post-meta-2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 5px; }
          .content .main-content .post-type .post-content .post-meta-2 .post-publish-time {
            color: #9ca3af;
            vertical-align: middle; }
          .content .main-content .post-type .post-content .post-meta-2 .post-more {
            display: inline-block;
            width: 30px;
            height: 20px;
            line-height: 20px;
            background-color: #f7f7f7;
            color: #576b95;
            cursor: pointer;
            text-align: center;
            border-radius: 3px;
            vertical-align: middle; }
          .content .main-content .post-type .post-content .post-meta-2 .post-action-container {
            right: 40px;
            bottom: -6px;
            width: 160px;
            height: 36px;
            overflow: hidden; }
          .content .main-content .post-type .post-content .post-meta-2 .post-action {
            right: 0;
            bottom: 0;
            width: 160px;
            height: 36px;
            line-height: 36px;
            background-color: #606060;
            border-radius: 4px;
            color: #FFFFFF;
            transform: translateX(100%);
            transition: transform 0.3s ease; }
            .content .main-content .post-type .post-content .post-meta-2 .post-action a {
              display: block;
              text-align: center;
              cursor: pointer; }
              .content .main-content .post-type .post-content .post-meta-2 .post-action a .rb-heart:before,
              .content .main-content .post-type .post-content .post-meta-2 .post-action a .rb-heart-o:before,
              .content .main-content .post-type .post-content .post-meta-2 .post-action a .rb-comments:before {
                font-size: 14px; }
              .content .main-content .post-type .post-content .post-meta-2 .post-action a .rb-heart:before {
                color: red; }
            .content .main-content .post-type .post-content .post-meta-2 .post-action .post-like:before {
              position: absolute;
              content: '';
              top: 8px;
              right: 0;
              width: 1px;
              height: 20px;
              background-color: #454545; }
          .content .main-content .post-type .post-content .post-meta-2 .post-action.show {
            transform: translateX(0); }
        .content .main-content .post-type .post-content .post-meta-3 {
          background-color: #F6F6F6;
          border-radius: 2px;
          margin-top: 5px; }
          .content .main-content .post-type .post-content .post-meta-3 .post-like-area + .post-comment-area {
            border-top: 1px solid rgba(153, 153, 153, 0.24); }
          .content .main-content .post-type .post-content .post-meta-3 .post-like-area.hidden + .post-comment-area {
            border-top: none; }
          .content .main-content .post-type .post-content .post-meta-3 .post-like-area {
            padding: 5px 10px;
            color: #576b95;
            font-weight: 600; }
            .content .main-content .post-type .post-content .post-meta-3 .post-like-area .rb-heart-o:before {
              font-size: 14px; }
          .content .main-content .post-type .post-content .post-meta-3 .post-comment-area {
            padding: 5px 10px; }
            .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-author {
              color: #576b95;
              font-weight: 600;
              text-decoration: none; }
            .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-form {
              border: 1px solid #FFFFFF;
              background-color: #FFFFFF;
              padding: 5px;
              margin: 5px 0;
              border-radius: 2px; }
            .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-form.focus {
              border: 1px solid #04c160; }
              .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-form.focus .comment-textarea {
                min-height: 100px; }
            .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-meta {
              display: flex;
              align-items: center;
              margin-bottom: 5px; }
              .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-meta .comment-input {
                background-color: #F6F6F6;
                padding: 5px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                border-radius: 2px;
                outline: none;
                transition: all .3s;
                flex-grow: 1;
                line-height: 30px;
                height: 30px;
                overflow: hidden; }
              .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-meta .comment-input + .comment-input {
                margin-left: 5px; }
            .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-area .comment-textarea {
              display: block;
              background-color: #F6F6F6;
              border-radius: 2px;
              outline: none;
              transition: all .3s;
              width: 100%;
              min-height: 80px;
              resize: none;
              padding: 5px;
              font-family: Arial, sans-serif;
              font-size: 14px; }
            .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-footer {
              background-color: #F6F6F6;
              padding: 5px;
              text-align: right; }
              .content .main-content .post-type .post-content .post-meta-3 .post-comment-area .comment-footer .comment-btn {
                background-color: #04c160;
                color: #FFFFFF;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer; }
  .content .sidebar {
    width: 33.3333%;
    float: left; }

#footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px; }

@media (max-width: 1140px) {
  .content .main-content {
    width: 100%; }
  .content .sidebar {
    display: none; } }

/*# sourceMappingURL=style.css.map */
