/* 主题名称: reborn
 * 描述: 一个简单的Typecho主题
 * 版本: 1.0
 * 作者: Shawn
 * 许可证: MIT
 */

html, body, * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.clear-both {
  clear: both;
}

.flex {
  display: flex;
}

#header {
  background-color: #333333;
  color: #FFFFFF;
  min-height: 70px;
  #nav {
    margin: 0;
    padding: 0;
    background-color: #444444;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      li {
        display: inline;
        padding: 0 20px;
        a {
          color: #FFFFFF;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }
    .container {
      text-align: left;
      margin: 0 auto;
    }
  }
  #site-info {
    text-align: right;
    padding-top: 50px;
    #site-logo {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      right: 10px;
      bottom: -20px;
    }
    #site-title {
      margin-right: 100px;
    }
    #site-description {
      width: 100%;
      color: #808080;
      margin-top: 25px;
    }
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  margin-top: 80px;
  .main-content {
    width: 66.6667%;
    float: left;
    padding: 20px;
    .post-type {
      margin: 10px auto;
      border-bottom: 1px solid rgba(153, 153, 153, 0.24);
      .post-author-avatar {
        width: 60px;
        padding: 10px 8px 12px 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 4px;
        }
      }
      .post-content {
        margin: auto;
        padding: 10px;
        .post-author {
          color: #576b95;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
  .sidebar {
    width: 33.3333%;
    float: left;
  }
}

#footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
