@font-face {
  font-family: "reborn"; /* Project id 4221380 */
  src: url('iconfont.woff2?t=1718694719928') format('woff2'),
       url('iconfont.woff?t=1718694719928') format('woff'),
       url('iconfont.ttf?t=1718694719928') format('truetype');
}

.reborn {
  font-family: "reborn" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rb-like:before {
  content: "\e83b";
}

.rb-heart-o:before {
  content: "\e83c";
}

.rb-heart:before {
  content: "\e83d";
}

.rb-like-o:before {
  content: "\e83e";
}

.rb-books:before {
  content: "\e6b7";
}

.rb-comments:before {
  content: "\e603";
}

.rb-delete:before {
  content: "\e64f";
}

.rb-twodots:before {
  content: "\e601";
}

.rb-copyright:before {
  content: "\e60e";
}

.rb-copyright-c:before {
  content: "\e897";
}

.rb-quotation:before {
  content: "\e61d";
}

.rb-tips:before {
  content: "\e634";
}

.rb-plane:before {
  content: "\e606";
}

.rb-blank:before {
  content: "\e600";
}

.rb-expand:before {
  content: "\e602";
}

.rb-search:before {
  content: "\eb86";
}

.rb-menu:before {
  content: "\e790";
}

