@font-face {
  font-family: "reborn"; /* Project id 4221380 */
  src: url('iconfont.woff2?t=1718356910448') format('woff2'),
       url('iconfont.woff?t=1718356910448') format('woff'),
       url('iconfont.ttf?t=1718356910448') format('truetype');
}

.reborn {
  font-family: "reborn" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rb-shuji:before {
  content: "\e6b7";
}

.rb-pinglun:before {
  content: "\e603";
}

.rb-shanchu:before {
  content: "\e64f";
}

.rb-heart:before {
  content: "\eb40";
}

.rb-heart-o:before {
  content: "\e66b";
}

.rb-lianggedian:before {
  content: "\e601";
}

.rb-wodeVIP:before {
  content: "\e632";
}

.rb-copyright:before {
  content: "\e60e";
}

.rb-copyright-c:before {
  content: "\e897";
}

.rb-quotation:before {
  content: "\e61d";
}

.rb-tips:before {
  content: "\e634";
}

.rb-plane:before {
  content: "\e606";
}

.rb-blank:before {
  content: "\e600";
}

.rb-expand:before {
  content: "\e602";
}

.rb-search:before {
  content: "\eb86";
}

.rb-menpiao:before {
  content: "\e60c";
}

.rb-menu:before {
  content: "\e790";
}

.rb-perfume:before {
  content: "\e640";
}

