#container {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0 24px;
}

.sidebar {
    width: 33%;
    float: left;
    padding: 0;
    .widget {
        background-color: var(--weui-BG-2);
        padding: 20px;
        border: 1px solid var(--weui-FG-3);
        .widget-title {
            margin-bottom: 10px;
            color: var(--weui-FG-1);
            font-weight: 600;
            font-size: 14px;
        }
        .widget-toc {
            .ul-toc {
                > li {
                    padding-left: 0;
                }
                ul {
                    padding-left: 20px;
                }
                a {
                    color: var(--weui-FG-2);
                }
                a.active {
                    color: var(--weui-LINK);
                }
            }
        }
        a {
            color: var(--weui-FG-1);
            text-decoration: none;
            cursor: pointer;
        }
        ul {
            list-style: none;
        }
        .widget-list {

        }
        .game-list {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            .game-item {
                width: 40px;
                .game-link {
                    cursor: pointer;
                }
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                }
            }
        }
    }
    .widget + .widget {
        margin-top: 10px;
    }
    #sticky {
        margin-top: 10px;
    }
    #sticky.sticky {
        position: fixed;
        top: 0;
    }
    .sidebar-adv {
        overflow: hidden;
        position: relative;
        .adv {
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
            color: var(--weui-FG-1);
            height: 20px;
            line-height: 12px;
            font-size: 12px;
            background-color: var(--weui-FG-5);
            padding: 4px 6px;
        }
        .adv-avatar {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        .adv-title {
            color: var(--weui-LINK);
            font-weight: bold;
            display: block;
        }
        .adv-img {
            margin-top: 10px;
        }
        .adv-description {
            color: var(--weui-FG-0);
            display: block;
        }
        .adv-link {
            display: block;
            color: var(--weui-LINK);
        }
        img {
            max-width: 100%;
        }

    }
    #sidebar-post-list {
        ul {
            .post-item {
                color: black;
                align-items: center;
                .post-title {
                    font-weight: normal;
                    font-size: var(--global-font-size);
                    color: var(--weui-FG-0);
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .post-view,
                .post-like-num {
                    color: var(--weui-FG-2);
                    margin-right: 10px;
                }
                .post-thumbnail {
                    width: 50px;
                    height: 50px;
                    margin-left: 10px;
                    border-radius: 2px;
                }
            }
            li {
                padding: 10px 0;
            }
            li + li {
                border-top: 1px solid rgba(153, 153, 153, 0.24);
            }
        }
    }
    #sidebar-comment-list {
        li {
            margin-top: 5px;
        }
        li + li {
            border-top: 1px solid rgba(153, 153, 153, 0.24);
            padding-top: 5px;
        }
        .comment-item {
            flex-wrap: wrap;
            > div {
                overflow: hidden;
            }
        }
        .comment-author-avatar {
            width: 40px;
            height: 40px;
            margin: 0 10px 6px 0;
            border-radius: 4px;
        }
        .comment-author {
            color: var(--weui-FG-1);
        }
        .comment-content {
            width: 100%;
            color: var(--weui-FG-0);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.main-content {
    width: 66%;
    float: right;
    .post-type {
        background-color: var(--weui-BG-2);
        padding: 10px 20px;
        border-top: 1px solid var(--weui-FG-3);
        border-left: 1px solid var(--weui-FG-3);
        border-right: 1px solid var(--weui-FG-3);
        border-bottom: none;
        .post-author-avatar {
            width: 40px;
            padding: 10px 0;
            img {
                width: 40px;
                height: 40px;
                border-radius: var(--border-radius);
            }
        }
        .post-content {
            padding: 10px 0 10px 10px;
            line-height: 1.75em;
            /*overflow: hidden;*/
            flex: 1;
            .shuoshuo-item {
                .post-link {
                    color: var(--weui-LINK);
                    text-decoration: underline;
                }
                img {
                    max-width: min(100%, 300px);
                    margin: 0;
                }
                img:not([class]) {
                    margin: 0;
                }
            }
            .post-author {
                display: block;
                color: var(--weui-LINK);
                font-weight: bold;
            }
            img:not([class]) {
                display: block;
                margin: 0 auto;
            }
            pre {
                margin: 10px 0;
                position: relative;
                code.hljs, code[class^="lang-"] {
                    display: block;
                    background-color: var(--weui-FG-5);
                    padding: 35px 15px 15px;
                    border-radius: 4px;
                    max-height: none;
                    transition: max-height 0.3s ease;
                    overflow-x: auto;
                    overflow-y: hidden;
                }
                .code-copy {
                    position: absolute;
                    top: 5px;
                    right: 15px;
                    color: var(--weui-FG-1);
                    font-size: 18px;
                    cursor: pointer;
                }
                .code-hide,
                .code-show {
                    position: absolute;
                    top: 5px;
                    right: 45px;
                    color: var(--weui-FG-1);
                    font-size: 18px;
                    cursor: pointer;
                }
                .hljs-ln td {
                    padding: 0 10px 0 0;
                }
                .hljs-ln-numbers {
                    color: var(--weui-FG-0);
                }
            }
            pre:before {
                content: '';
                position: absolute;
                top: 15px;
                left: 15px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #fc625d;
                box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
                z-index: 1;
            }
            code:not(.hljs,[class^="lang-"]) {
                line-height: 1.75;
                font-size: 90%;
                color: #d14;
                background-color: var(--weui-FG-5);
                padding: 3px 5px;
                border-radius: 4px;
            }
            blockquote {
                line-height: 1.75;
                font-size: 14px;
                font-style: normal;
                border-left: none;
                padding: 1em;
                border-radius: 4px;
                color: var(--weui-FG-0);
                background-color: var(--weui-FG-5);
                margin: 5px 0;
            }
            h2:not([class]) {
                text-align: center;
                line-height: 1.75;
                font-size: 1.2em;
                font-weight: bold;
                display: table;
                margin: 30px auto;
                padding: 0 0.2em;
                background: #0f4c81;
                color: #FFFFFF;
            }
            h3:not([class]) {
                text-align: left;
                line-height: 1.2;
                font-size: 1.1em;
                font-weight: bold;
                margin: 20px 0;
                padding-left: 8px;
                border-left: 3px solid #0f4c81;
            }
            h4:not([class]) {
                text-align: left;
                line-height: 1.75;
                font-size: 1em;
                font-weight: bold;
                margin: 20px 0;
            }
            a {
                color: var(--weui-LINK);
            }
            ul, ol {
                margin: 0 0 0 20px;
            }
            ul li {
                list-style-type: disc;
            }
            ol li {
                list-style-type: decimal;
            }
            li {
                margin: 0 0 0 20px;
                line-height: 32px;
            }
            p {
                margin: 5px 0;
            }
            table:not(.hljs-ln) {
                border-spacing: 0;
                border-collapse: collapse;
                width: 100%;
                thead {
                    text-align: left;
                    line-height: 1.75;
                    background: var(--weui-FG-5);
                    font-weight: bold;
                    color: var(--weui-FG-0);
                    th {
                        text-align: left;
                        line-height: 1.75;
                        border: 1px solid var(--weui-FG-3);
                        padding: 0.25em 0.5em;
                        color: var(--weui-FG-0);
                    }
                }
                tbody {
                    td {
                        text-align: left;
                        line-height: 1.75;
                        border: 1px solid var(--weui-FG-3);
                        padding: 0.25em 0.5em;
                        color: var(--weui-FG-0);
                    }
                }
            }
            img {
                max-width: 100%;
            }
            input.rb-checkbox {
                -webkit-appearance: none;
                position: relative;
                border-radius: 2px;
                width: 15px;
                height: 15px;
                border: 2px solid var(--weui-LINK);
                vertical-align: -2px;
            }
            input.rb-checkbox:disabled{
                cursor: not-allowed;
            }
            input.rb-checkbox:checked::after {
                content: '';
                width: 3px;
                height: 7px;
                position: absolute;
                top: 2px;
                left: 5px;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            input.rb-checkbox:checked {
                border: none;
                background-color: var(--weui-LINK);
            }
            .comment-visible {
                display: block;
                width: 150px;
                margin: 20px auto;
                text-decoration: none;
                background-color: #05c160;
                color: white !important;
                padding: 5px 15px;
                border-radius: 5px;
                text-align: center;
            }
            .gallery-row {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                max-width: 420px;
            }
            .gallery-row-2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                max-width: 420px;
            }
            .gallery-image-item {
                position: relative;
                margin: 2px;
                overflow: hidden;
                line-height: 0;
                a {
                    display: inline-block;
                    line-height: 0;
                }
                img {
                    display: block;
                    vertical-align: middle;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(0, 0, 0, 0.5);
                    color: white;
                    font-size: 2em;
                    text-decoration: none;
                }
            }
            .post-unit {
                display: flex;
                padding: 5px;
                background-color: var(--weui-FG-5);
                border-radius: 2px;
                text-decoration: none;
                color: var(--weui-FG-0);
                line-height: 50px;
                cursor: pointer;
                margin-top: 5px;
                .post-thumbnail {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    border-radius: 2px;
                }
                .post-title {
                    font-weight: normal;
                    font-size: var( --global-font-size);
                }
            }
            .movie-item, .book-item, .good-item {
                background-color: var(--weui-FG-5);
                color: var(--weui-FG-0);
            }
            .post-location {
                display: block;
                color: var(--weui-LINK);
                margin-top: 5px;
            }
            .post-meta-2 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 5px;
                .post-more {
                    display: inline-block;
                    width: 30px;
                    height: 20px;
                    line-height: 20px;
                    background-color: var(--weui-FG-5);
                    color: var(--weui-FG-1);
                    cursor: pointer;
                    text-align: center;
                    border-radius: 3px;
                    vertical-align: middle;
                }
                .post-action-container {
                    right: 40px;
                    bottom: -6px;
                    width: 160px;
                    height: 36px;
                    overflow: hidden;
                    z-index: 1;
                }
                .post-action {
                    right: 0;
                    bottom: 0;
                    width: 160px;
                    height: 36px;
                    line-height: 36px;
                    background-color: #606060;
                    border-radius: 4px;
                    color: #FFFFFF;
                    transform: translateX(100%);
                    transition: transform 0.3s ease;
                    a {
                        display: block;
                        text-align: center;
                        cursor: pointer;
                        color: #FFFFFF;
                        .rb-heart:before,
                        .rb-heart-o:before,
                        .rb-comments:before {
                            font-size: var(--global-font-size);
                        }
                        .rb-heart:before {
                            color: red;
                        }
                    }
                    .post-like:before {
                        position: absolute;
                        content: '';
                        top: 8px;
                        right: 0;
                        width: 1px;
                        height: 20px;
                        background-color: var(--weui-FG-3);
                    }
                }
                .post-action.show {
                    transform: translateX(0);
                }
                .post-publish-time, .post-view {
                    color: var(--weui-FG-2);
                    margin-right: 5px;
                }
            }
            .post-meta-3 {
                background-color: var(--weui-FG-5);
                border-radius: 2px;
                margin-top: 5px;
                .post-like-area + .post-comment-area {
                    border-top: 1px solid var(--weui-FG-3);
                }
                .post-like-area.hidden + .post-comment-area {
                    border-top: none;
                }
                .post-like-area {
                    padding: 5px 10px;
                    color: var(--weui-LINK);
                    font-weight: 600;
                    .rb-heart-o:before {
                        font-size: var(--global-font-size);
                        font-weight: normal;
                    }
                    .like-area {
                        .like-avatar {
                            display: block;
                            width: 30px;
                            height: 30px;
                            border-radius: 3px;
                        }
                        a.like-people {
                            color: var(--weui-LINK);
                            cursor: pointer;
                        }
                        .like-num {
                            line-height: 30px;
                        }
                        span.like-people {
                            color: var(--weui-LINK);
                            cursor: default;
                        }
                    }
                }
                .post-like-area.shuoshuo {
                    display: flex;
                    .shuoshuo-like {
                        width: 24px;
                        height: 30px;
                        line-height: 30px;
                        span {
                            vertical-align: center;
                        }
                    }
                    .like-area {
                        flex: 1;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                    }
                }
                .post-comment-area {
                    padding: 5px 10px;
                    ul, ol, li {
                        margin: 0;
                        list-style-type: none;
                        line-height: 1.75em;
                    }
                    p {
                        margin: 5px 0;
                    }
                    .rb-comments:before {
                        color: var(--weui-LINK);
                        font-size: var(--global-font-size);
                        font-weight: 600;
                    }
                    .comment-form {
                        display: none;
                    }
                    .more-comments {
                        color: var(--weui-LINK);
                        cursor: pointer;
                    }
                    .comment-item {
                        .comment-item-header {
                            width: 100%;
                            .comment-author {
                                color: var(--weui-LINK);
                                font-weight: 600;
                                text-decoration: none;
                            }
                            .post-comment {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .post-comment-area.shuoshuo {
                    padding: 10px 10px 5px;
                    display: flex;
                    .shuoshuo-comment {
                        width: 24px;
                        height: 30px;
                        line-height: 30px;
                        span {
                            vertical-align: center;
                        }
                    }
                    .comment-area {
                        flex: 1;
                        .comment-item {
                            padding-top: 5px;
                            border-top: 1px solid var(--weui-FG-3);
                            .comment-author-avatar {
                                display: block;
                                width: 30px;
                                margin: 3px 5px 0 0;
                                img {
                                    display: block;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 3px;
                                }
                            }
                            .comment-body {
                                line-height: 1.4;
                                margin-bottom: 10px;
                                .comment-header {
                                    justify-content: space-between;
                                }
                                .comment-time {
                                    color: var(--weui-FG-1);
                                    font-size: 12px;
                                }
                            }
                        }
                        > ol > .comment-item:first-child {
                            padding-top: 0;
                            border-top: none;
                        }
                        .page-navigator {
                            padding: 10px;
                            list-style: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            a {
                                color: var(--weui-FG-1);
                                cursor: pointer;
                            }
                            li.current {
                                a {
                                    color: var(--weui-FG-0);
                                }
                            }
                        }

                    }
                }
            }
        }
        .post-content.shuoshuo-content {
            .post-meta-3 {
                margin-left: -50px;
            }
        }
        #post-content {
            padding: 0;
        }
    }
    .post-type:last-of-type {
        border-bottom: 1px solid var(--weui-FG-3);
    }
    .post-type.post {
        > .post-title {
            font-size: 22px;
            line-height: 1.4;
            margin: 10px 0;
            font-weight: 400;
            color: var(--weui-FG-0);
        }
        .post-meta {
            font-size: 15px;
            margin-bottom: 15px;
            line-height: 20px;
            word-wrap: break-word;
            .post-author {
                color: var(--weui-FG-2);
                margin-right: 10px;
            }
            .post-category {
                a {
                    color: var(--weui-LINK);
                    text-decoration: none;
                }
                margin-right: 10px;
            }
            .post-publish-time, .post-location {
                color: var(--weui-FG-2);
                margin-right: 10px;
            }
        }
        #post-content {
            padding: 0;
        }
        .post-zan {
            text-align: center;
            .author-avatar {
                width: 40px;
                height: 40px;
                border-radius: var(--border-radius);
            }
            .author-avatar,
            .post-author,
            .author-description {
                margin-bottom: 10px;
            }
            .post-like {
                display: inline-block;
                margin: 10px 0;
                color: #FFFFFF;
                background-color: var(--weui-RED);
                padding: 8px 30px;
                border-radius: 5px;
                cursor: pointer;
            }
            .post-like-num {
                display: inline-block;
                margin: 10px 0;
                position: relative;
                height: 22px;
                color: var(--weui-FG-1);
            }
            .post-like-num:before {
                position: absolute;
                display: block;
                content: '';
                width: 30px;
                height: 1px;
                background-color: var(--weui-FG-3);
                left: -36px;
                top: 11px;
            }
            .post-like-num:after {
                position: absolute;
                display: block;
                content: '';
                width: 30px;
                height: 1px;
                background-color: var(--weui-FG-3);
                right: -36px;
                top: 11px;
            }
            .like-people-list {
                margin: 10px 0;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: center;
                a {
                    cursor: pointer;
                }
                img {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 3px;
                }
            }
        }
        .post-tags {
            display: flex;
            flex-wrap: wrap;
            .article-tags {
                margin: 8px 12px 0 0;
                padding: 3px 6px 3px 0;
            }
            .article-tags-num {
                color: var(--weui-FG-1);
            }
            a {
                text-decoration: none;
                color: var(--weui-LINK);
            }
        }
        .post-footer {
            margin-top: 10px;
            color: var(--weui-FG-2);
            font-size: 15px;
        }
    }
    .pagination {
        padding: 20px 10px;
        text-align: center;
        color: var(--weui-FG-1);
        .next {
            color: var(--weui-FG-1);
            cursor: pointer;
        }
    }
    #comments {
        margin: 10px 0;
        background-color: var(--weui-BG-2);
        padding: 10px 20px;
        border: 1px solid var(--weui-FG-3);
        .has-comment {
            justify-content: space-between;
            #comment-title {
                color: var(--weui-FG-1);
                font-weight: 600;
            }
        }
        .none-comment {
            text-align: center;
            height: 80px;
            line-height: 80px;
        }
        .post-comment {
            color: var(--weui-LINK);
            cursor: pointer;
            font-weight: 600;
        }
        .comment-form {
            display: none;
        }
        > ol > li > .comment-list {
            margin-left: 50px;
            .comment-author-avatar,
            .comment-author-avatar img {
                width: 30px;
                height: 30px;
            }
        }
        .comment-item {
            .comment-item-header {
                width: 100%;
                flex-wrap: wrap;
            };
        }
        .comment-author-avatar {
            width: 40px;
            padding: 12px 0;
            img {
                width: 40px;
                height: 40px;
                border-radius: 4px;
            }
        }
        .comment-body {
            padding: 10px 0 10px 10px;
            line-height: 1.75em;
            overflow: hidden;
            flex-wrap: wrap;
            .comment-author {
                color: var(--weui-FG-1);
                margin-right: 5px;
                text-decoration: none;
            }
            .admin {
                font-size: 12px;
                color: var(--weui-GREEN-80);
                margin-right: 5px;
            }
            .comment-region,
            .comment-time {
                font-size: 12px;
                color: var(--weui-FG-2);
                margin-right: 5px;
            }
            .post-comment,
            .comment-like {
                color: var(--weui-FG-1);
                font-weight: normal;
            }
            .comment-like {
                margin-left: 10px;
                .reborn {
                    cursor: pointer;
                }
                .rb-like {
                    color: var(--weui-RED);
                }
            }
            a.post-comment {
                font-size: 14px;
            }
            .comment-content.post-comment {
                color: var(--weui-FG-0);
                flex: 0 0 100%;
            }

        }
    }
    .comment-form {
        border: 1px solid var(--weui-FG-3);
        background-color: var(--weui-BG-2);
        padding: 5px;
        margin: 5px 0;
        border-radius: 2px;
        .user {
            color: var(--weui-LINK);
            font-weight: 600;
        }
        .comment-meta {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            overflow-x: hidden;
            .avatar {
                vertical-align: middle;
                width: 30px;
                height: 30px;
                border-radius: 2px;
                margin-right: 5px;
            }
            .comment-input {
                color: var(--weui-FG-0);
                background-color: var(--weui-FG-5);
                padding: 5px;
                font-size: var(--global-font-size);
                border-radius: 2px;
                outline: none;
                transition: all .3s;
                width: 1px;
                flex-grow: 1;
                line-height: 30px;
                height: 30px;
                overflow: hidden;
            }
            .comment-input + .comment-input {
                margin-left: 5px;
            }
        }
        .comment-area {
            .comment-textarea {
                color: var(--weui-FG-0);
                display: block;
                background-color: var(--weui-FG-5);
                border-radius: 2px;
                outline: none;
                transition: all .3s;
                width: 100%;
                min-height: 80px;
                resize: none;
                padding: 5px;
                font-size: var(--global-font-size);
            }
        }
        .comment-footer {
            padding: 5px 0;
            align-items: center;
            justify-content: space-between;
            .comment-emoji {
                cursor: pointer;
                font-size: 24px;
                color: var(--weui-FG-1);
            }
            .emoji-container {
                display: none;
                left: 0;
                bottom: 32px;
                border: 1px solid var(--weui-FG-3);
                max-height: 300px;
                overflow-y: auto;
            }
            .emoji-list {
                background-color: var(--weui-BG-2);
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding: 10px 0 10px 10px;
                margin: 0;
                overflow-y: scroll;
                max-height: 150px;
                .rb-emoji-item {
                    margin: 0 5px 5px 0;
                    cursor: pointer;
                    -webkit-transition: .3s;
                    transition: .3s;
                    height: 30px;
                    width: auto;
                    display: block;
                    float: left;
                }
            }
            .emoji-bar {
                overflow: hidden;
                width: 100%;
                height: 30px;
                border-top: 1px solid var(--weui-FG-3);
                background-color: var(--weui-BG-2);
                border-radius: 0 0 4px 4px;
                color: var(--weui-FG-1);
                display: flex;
                .emoji-category {
                    line-height: 30px;
                    font-size: 14px;
                    padding: 0 10px;
                    cursor: pointer;
                }
                .emoji-category.active {
                    background-color: var(--weui-FG-5)
                }
            }
        }
        .comment-btn {
            background-color: var(--weui-FG-5);
            color: var(--weui-FG-0);
            padding: 5px 15px;
            border-radius: 5px;
            font-size: var(--global-font-size);
            cursor: pointer;
        }
        .comment-cancel {
            background: none;
            margin-right: 10px;
            color: var(--weui-LINK);
            font-size: var(--global-font-size);
            font-weight: 600;
            cursor: pointer;
        }
    }
    .comment-form.focus {
        border: 1px solid #04c160;
        .comment-textarea {
            min-height: 100px;
        }
    }

}

.rb-emoji-item {
    height: 20px;
    vertical-align: middle;
}

#footer {
    clear: both;
    text-align: center;
    padding: 50px 10px 10px;
    a {
        color: var(--weui-FG-0);
    }
}

@media (max-width: 1140px) {
    #container {
        padding: 0;
    }
    .main-content {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
}


@media (max-width: 480px) {
    .main-content .post-type .post-meta-3 .post-comment-area {
        .comment-meta {
            .avatar {
                display: none;
            }
        }
        .comment-input-area {
            flex-wrap: wrap;
            .comment-input {
                width: 100%;
            }
            .comment-input + .comment-input {
                margin-left: 0;
                margin-top: 5px;
            }
        }
    }
}
