@font-face {
  font-family: "reborn"; /* Project id 4221380 */
  src: url('iconfont.woff2?t=1721372528375') format('woff2'),
       url('iconfont.woff?t=1721372528375') format('woff'),
       url('iconfont.ttf?t=1721372528375') format('truetype');
}

.reborn {
  font-family: "reborn" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rb-more:before {
  content: "\e84d";
}

.rb-link:before {
  content: "\e84e";
}

.rb-category:before {
  content: "\e84f";
}

.rb-close:before {
  content: "\e84c";
}

.rb-down:before {
  content: "\e848";
}

.rb-up:before {
  content: "\e84b";
}

.rb-copy:before {
  content: "\e847";
}

.rb-daytime-mode:before {
  content: "\e839";
}

.rb-daytime-mode-fill:before {
  content: "\e83a";
}

.rb-info-fill:before {
  content: "\e83f";
}

.rb-night-mode-fill:before {
  content: "\e840";
}

.rb-info:before {
  content: "\e841";
}

.rb-night-mode:before {
  content: "\e842";
}

.rb-smile-fill:before {
  content: "\e843";
}

.rb-smile:before {
  content: "\e844";
}

.rb-success-fill:before {
  content: "\e845";
}

.rb-success:before {
  content: "\e846";
}

.rb-warning-fill:before {
  content: "\e849";
}

.rb-warning:before {
  content: "\e84a";
}

.rb-like:before {
  content: "\e83b";
}

.rb-heart-o:before {
  content: "\e83c";
}

.rb-heart:before {
  content: "\e83d";
}

.rb-like-o:before {
  content: "\e83e";
}

.rb-books:before {
  content: "\e6b7";
}

.rb-comments:before {
  content: "\e603";
}

.rb-delete:before {
  content: "\e64f";
}

.rb-twodots:before {
  content: "\e601";
}

.rb-quotation:before {
  content: "\e61d";
}

.rb-tips:before {
  content: "\e634";
}

.rb-plane:before {
  content: "\e606";
}

.rb-blank:before {
  content: "\e600";
}

.rb-search:before {
  content: "\eb86";
}

.rb-menu:before {
  content: "\e790";
}

